html, body              { background: #fefefe; font-family: "helvetica neue", helvetica, arial, sans-serif; font-size: 14px; margin:0; padding:0; height:100%; }
   
h1, h2                  { margin-left:2px; margin-top:10px; }

a                       { color:#5282c2; text-decoration:none; }
a:hover                 { color:#36629c; }
a.active                { font-weight:bold; }

fieldset                { border-radius:5px; padding:10px 15px; margin-bottom:12px; border:1px solid #ccc; }
fieldset legend         { font-weight:bold; }
fieldset ul             { padding-left:20px; margin:0px; }
form label              { display:block; width:200px; float:left; margin-bottom:5px; }
form label span.required { color:darkred; font-weight:bold;  }
form input              { display:block; width:175px; margin-bottom:5px; padding:2px; }
form input[type=button] { width:80px; padding:1px; }
form input[type=submit] { width:80px; padding:1px; }
form textarea           { display:block; width:240px; height:60px; margin-bottom:5px; padding:2px; }

#container              { min-height:100%; position:relative; }

header                  { background: #1a1a1a; color: #fff; height:60px; width:100%; }
header nav              { margin:0 20px; padding:11px 0 0 50px; font-size:18px; line-height:18px; background:url(../images/wizard.png) no-repeat 0px 13px; }
header nav small        { font-size:14px; }
header nav ul           { margin:0; float:left; padding:0px; }
header nav ul li        { padding:10px; float:left; display: block; margin-right:5px; }
header nav ul li.active { }
header nav ul li.active a { color:#fff; } 
header nav ul li:hover  { background-color:#2a2a2a; } 
header nav ul li:hover  a { color:#efefef; }
header nav a            { color:#999999; font-size:15px; text-decoration:none; }

header nav .user_menu   { float:right; }

footer                  { position:absolute; bottom:0; width:95%; height:50px; margin:0 20px; color: #000; padding:0px 10px; border-top:1px dotted #444; }   
footer a                { color:#aaa; text-decoration:none; }
footer p.copyright      { float:left; width:330px; }
footer p.powered        { float:right; }

aside                   { width:220px; float:left; background-color: #f1f2f3; margin-right:10px; border-radius:5px; padding-bottom: 20px; border:1px solid #efefef; }
aside div               { margin:10px 10px 0px 10px; padding-bottom: 10px; border-bottom: 1px dotted #ccc; }  
aside ul                { padding-left: 30px; }
aside a                 { color:#5282c2; text-decoration:none; }
aside a:hover           { color:#36629c; }
aside a.active          { font-weight:bold; }

aside ul                { margin:20px 0 0 0; float:left; padding:0px; }
aside ul li             { padding:0 0 5px 15px; float:left; display: block; }
aside ul li.active      { }
aside ul li.active      { font-weight:bold; } 

section                 { background: #fff; padding:10px 10px 60px 10px; min-height:512px; }
section .breadcrumbs      { color:#444; }
section .breadcrumbs span { color:#777; }
section .breadcrumbs a    { color:#444; text-decoration:none; }
section .breadcrumbs a:hover { color:#111; }

article                 { border:1px solid #efefef; min-height:240px; margin:0 20px 20px 240px; padding:5px 20px 40px 20px; background-color: #f1f2f3; border-radius:5px; font:14px tahoma, verdana, sans-serif; }
article header          { background-color: #f1f2f3; height:20px; }
article header h2       { font-size: 15px; color:#000 }
article header p        { font-size: 14px; }
article p               { }
article ul              { }
article ul li               { margin:4px 0; }
article ul li span.checked  {  float:right; color:#009600; display:block; }
article ul li span.unknown  { color:#888; }
article ul li span.disabled { color:#800000; }
article ul li span.found    { color:#006000; }

.required  { color:#e32; }
.enabled   { color:darkgreen; }
.disabled  { color:darkred; } 

/*** messages */
.alert {
   font-family:'Lucida Grande',Verdana,Arial,Sans-Serif;
   margin:6px auto;height:auto;padding:10px 12px;color:#000;
   -moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;-khtml-border-radius:4px;
   white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */    
   white-space: -pre-wrap;     /* Opera <7 */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word;      /* IE */   
}
.alert-success            { background-color:#dff0d8; border:1px solid #d6e9c6; color:#468847; }
.alert-error              { background-color:#f6e5e5; border:1px solid #eed3d7; color:#b94a48; }
.alert-warning            { background-color:#fcf8e3; border:1px solid #fbeed5; color:#c09853; }
.alert-info               { background-color:#dff0fa; border:1px solid #bce8f1; color:#3a87ad; }
.alert-validation         { background-color:#ffd9cc; border:1px solid #ffc6b3; color:#c84f39; }
.alert .close             { float:right;font-size:20px;font-weight:bold;line-height:18px;color:#000000;text-shadow:0 1px 0 #ffffff;opacity:0.2;filter:alpha(opacity=20);}.close:hover{color:#000000;text-decoration:none;cursor:pointer;opacity:0.4;filter:alpha(opacity=40); }
.alert button.close,
.alert button.close:hover
                          { padding:0;cursor:pointer;background:transparent;border:0;-webkit-appearance:none; min-width:18px; }
.row { height:27px; }
.buttons-wrapper
    { float:left; margin:10px 0; }

/* action buttons
---------------------------------------------------------- */
INPUT[type=submit],
BUTTON
    { float:left; margin-right:5px; background: #73B6FF; background: -moz-linear-gradient(top, #0086cc 0%, #0058cc 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0086cc), color-stop(100%,#0058cc)); background: -webkit-linear-gradient(top, #0086cc 0%,#0058cc 100%); background: -o-linear-gradient(top, #0086cc 0%,#0058cc 100%); background: -ms-linear-gradient(top, #0086cc 0%,#0058cc 100%); background: linear-gradient(top, #0086cc 0%,#0058cc 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0086cc', endColorstr='#0058cc',GradientType=0 ); border: 1px solid #0068b7; border-bottom: 1px solid #005799; border-radius:2px; font-weight: normal; font-size: 13px; text-align: center; color: #fff; min-width:65px; text-shadow: 0 1px 0 #52a8ec; cursor: pointer; padding:2px 3px; }
INPUT[type=submit]:hover,
BUTTON:hover
    { box-shadow: 0 2px 5px -1px #aaa; cursor: pointer; }

/* simple buttons
---------------------------------------------------------- */
INPUT[type=button],
BUTTON[type=button],
BUTTON[type=reset]
    { float:left; margin-right:5px; background: #fefefe; background: -moz-linear-gradient(top, #fefefe 0%, #e6e6e6 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#e6e6e6)); background: -webkit-linear-gradient(top, #fefefe 0%,#e6e6e6 100%); background: -o-linear-gradient(top, #fefefe 0%,#e6e6e6 100%); background: -ms-linear-gradient(top, #fefefe 0%,#e6e6e6 100%); background: linear-gradient(top, #fefefe 0%,#e6e6e6 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#e6e6e6',GradientType=0 ); border: 1px solid #dcdcdc; border-bottom: 1px solid #b8b8b8; border-radius:2px; font-weight: normal; font-size: 13px; text-align: center; color: #111; min-width:65px; text-shadow: 0 1px 0 #ccc; cursor: pointer; padding:2px 3px; } 
INPUT[type=button]:hover,
BUTTON[type=button]:hover,
BUTTON[type=reset]:hover
    { box-shadow: 0 1px 3px -1px #aaa; cursor: pointer; }

.toggle_password {
   background: url("../images/eye.png") left top no-repeat;
   display: block;
   width: 27px;
   height: 18px;
   cursor:pointer;
   float:left;
   margin-top:-25px;
   margin-left:350px;
   position: absolute;	
}
.toggle_password_closed {
   background: url("../images/eye.png") left -30px top 0px no-repeat;
}