<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Rewrite all other URLs to index.php/URL
    RewriteRule ^(.*)test1\.txt$   tests/test2.txt [QSA]
</IfModule>

<IfModule !mod_rewrite.c>
	ErrorDocument 404 index.php
</IfModule>

<FILES ~ "\.txt$">  
    Order allow,deny
    Allow from all
</FILES>

Options All -Indexes


